*, ::after, ::before
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
}

.ion-page
{
    padding: 25px;
}

.function-item
{
    margin-bottom: 25px;
}

.btn
{
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.1s;
    background: #3880ff;
    margin-bottom: 15px;
}

.btn:active
{
    opacity: 0.5;
}